version: '3.8'
services:
  cyborgdb:
    image: cyborginc/cyborgdb-service:latest
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - cyborgdb-data:/home/cyborguser/.cyborgdb
      - ./logs:/app/logs

volumes:
  cyborgdb-data: